//js 函式
// function name(){ }

//mixin sass 函式
// @include marginAuto(100%);

@mixin marginAuto($w:null){
    margin: 0 auto;
    width: $w; //區域變數
}


// @include box(400px , 200px);
@mixin box($w:400px , $h: 300px){
    width: $w;
    height: $h;
}

// @include rect(400px);
@mixin rect($w , $h:$w){
    width: $w;
    height: $h;
}

// grid
@mixin grid($name , $num) {
    @for $i from 1 through $num {
        .col-#{$name}-#{$i} {
            width: ($i / $num) * 100%;
            display: inline-block;
        }
    }
}


// 圖片路徑
@mixin imgUrl($img , $style:jpg) {
    @each $a in $img {
        .img_#{$a} {
            background-image:url('./images/#{$a}.#{$style}');
            @content; //content 
        }
    }
}

//顏色

@mixin colorbox($color) {

    @each $key,
    $val in $color {
        .#{$key} {
            background-color: $val;
            @include rect(100vw, null);
        }
    }
}


//按鈕組件
@mixin btn-color($btn) {
    @each $key,
    $val in $btn {
        .btn-#{$key} {
            background-color: $val;
            cursor: pointer;
            border: 1px solid darken($val, 5%); //顏色函式 變暗
            transition: all .3 ease;

            &:hover {
                background-color: darken($val, 25%);
            }

            @extend .btn;
        }
    }
}


// push

@mixin push($num, $dir:left) {
    @for $i from 1 through $num {
        .push-#{$dir}_#{$i} {
            margin-#{$dir}: $i * 1px;
            @content;
        }
    }
}

//rwd 組件
@mixin rwd($breakpoint) {

    //桌機
    @if $breakpoint=='desktop' {
        @media all and(min-width: $desktop) {
            @content;
        }
    }

    //平板
    @else if $breakpoint=='tablet' {
        @media all and(min-width: $tablet) {
            @content;
        }
    }

    // 手機
    @else if $breakpoint=='mobile' {
        @media all and(max-width: $mobile) {
            @content;
        }
    }
}

// 可自已設定
@mixin rwd-self($val, $w:min) {
    @media all and(#{$w}-width: $val) {
        @content;
    }
}


//rwd 組件
@mixin rwd-each($breakpoint) {
    @each $b,$val in $rwd {
        @if $breakpoint == $b {
            @media all and (min-width: $val) {
                @content;
            }
        }
    }
}


//font-face
@mixin font-face($name, $file) {
    @font-face {
    font-family: "#{$name}";
    src: url("../fonts/#{$file}.eot");
    src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
    url("../fonts/#{$file}.woff") format("woff"),
    url("../fonts/#{$file}.ttf") format("truetype"),
    url("../fonts/#{$file}.svg?#webfont") format("svg");
  }
 }


 //跨瀏覽器
 @mixin prefix($prop, $val) {
    #{$prop}: $val;
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -o-#{$prop}: $val;
} 
