//變數
/* css註解*/
$fontsize : 20px;
$h1 : 3.6rem; //數值
$red : #ff0000; //顏色
$margin: 10px 10px 20px 10px; // list
$null : null; //null
$false : false;
$bg-color :(
   'red'  : #ff1616,
   'blue' : #2d5bf3,
   'green' : #d7ff67,
   'link' : #333,
   'linkhover' : #000,
 );  // map

 $w : 1200px; //全域變數
 $zero : 0px;

