//套件引入
@import 'node_modules/bourbon-neat/core/neat' ;

body {
    margin: 0;
    padding: 0;
    color: #fff;}

section {
    width: 100vw;
    height: 100vh;
}

.red {
    background-color: rgb(148, 0, 45);
}
.blue {
    background-color: blue;
}
.h100 {
    height: 100vh;
}



//第一個場景
.wrapper_12 {
    @include grid-container; 
    .sidebar {
      @include grid-column(2); 
    }
    .content {
      @include grid-column(6); 
      }
    .menu {
        @include grid-column(4);
    }  
}

//第二個場景
$grid-setting: (
  columns : 4, //總欄位數
  gutter: 10px, // 間隔
  direction: ltr, //方向
);

$grid-setting_medium :(
    columns : 4, //總欄位數
    gutter: 10px, // 間隔
    media : 'only screen and (max-width: 900px)'
);

$grid-setting_small :(
    columns : 4, //總欄位數
    gutter: 10px, // 間隔
    media : 'only screen and (max-width: 600px)'
);

.wrapper_grid {
    @include grid-container; 
    .grid_3 {

        @include grid-column(1 , $grid-setting);
        //media query
        //平板
        @include grid-media($grid-setting_medium){
            @include grid-column(2)
        }
        //手機
        @include grid-media($grid-setting_small){
            @include grid-column(4)
        }
    }
}






