body {
    background-color: rgb(0, 0, 0);
}
.box {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 20px;
    background-color: #00ffaa;
   
}

.btn {
    padding: 5px 30px;
    border-radius: 4px;
}

.bar {
   width: 40px;
   height: 5px;
   background-color: #fff; 
   /* position: relative; */
   /* left : -50px; */
}

#nav {
    cursor: pointer;
}
.top {
   margin-bottom: 6px; 
}
.bottom {
    margin-top: 6px;
}