//變數要先宣告
@import 'sass/sassVar';


//共用
body {
    margin: $margin;
    padding: $null;
    font-size:  $fontsize;
    color: map-get( $bg-color, 'red' );
    background-color: map-get( $bg-color, 'green' );
}

//
.wrapper{
    h1 {
        font-size: $h1 ;
        span {
           font-size: 10px;
           color : #333 
        }
        .title {
          font-size: 14px;  
        }
    }
    nav {
       ul {
           list-style: none;
           li {
               &:nth-child(odd) {
                  background-color: #ffba53; 
               }
                display: inline-block;
                padding: 20px 40px;
                background-color: rgb(223, 255, 16);
                cursor: pointer;
                a {
                    color: map-get( $bg-color, 'link' );
                    text-decoration: none;
                    &:hover {
                        color: map-get( $bg-color, 'linkhover' );font-weight: bold;
                    }
                }
           }
       } 
    }
}
//js 函式
// function name(){ }

//mixin sass 函式
$w : 960px; //全域變數
 
@mixin marginAuto($w:null){
    margin: 0 auto;
    width: $w; //區域變數
}

.rect {
  @include marginAuto($w);  
}

.app {
    @include marginAuto(100%);
}
//預設值
@mixin box($w:400px , $h: 300px){
    width: $w;
    height: $h;
}
.box {
    @include box(100px , 200px);
    @include marginAuto();//給null
}

@mixin rect($w , $h:$w){
    width: $w;
    height: $h;
    background-color: rgb(217, 250, 0);
}

.app2 {
    @include rect(400px, 300px);
    background-image: url('./image/..');
}














