body {
    .box {
        width: 100px;
        height: 100px;
        background-color: hsl(50, 90%, 51%);
        border-radius: 50px;
    }
    ul{
        li{
          margin: 10px;  
        }
    }
}